body {
  text-align: center;
  list-style-position: inside;
  background-color: lightgray;
}
h1 {
  font-size: 40px;
  color: purple;
}
img script {
  font-weight: 50px;
  height: 50px;
}
